.not-found-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-view-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 400;
}
.not-found-view-description {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0px;
}
.not-found-image {
  height: 300px;
}

@media screen and (max-width: 767px) {
  .not-found-container {
    padding: 20px;
  }
  .not-found-image {
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
  }
  .not-found-view-heading {
    font-size: 15px;
    font-weight: 500;
  }
  .not-found-view-description {
    font-size: 12px;
    text-align: center;
  }
}
