.jobs-section-container {
  background-color: #000000;
  min-height: 100vh;
}

.inner-container {
  width: 100vw;
  padding: 30px;
  display: flex;
}

.profile-filters-container {
  width: 25vw;
  margin-right: 20px;
}

.onSearch-jobs-list-container {
  width: 75vw;
  padding-left: 20px;
}

.search-container {
  display: flex;
  background-color: #000000;
  width: 400px;
  height: 30px;
  justify-content: space-between;
  padding-left: 10px;
  border: 1px solid #7e858e;
  border-radius: 5px;
}
.search-input {
  background-color: transparent;
  border: none;
  font-size: 13px;
  outline: none;
  width: 320px;
  color: #ffffff;
}
.search-btn {
  background-color: #7e858e;
  border: none;
  width: 50px;
}
.search-icon {
  background-color: transparent;
  color: #ffffff;
  height: 20px;
}
.no-jobs-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-jobs-view {
  height: 300px;
}
.jobs-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.no-jobs-heading {
  color: #ffffff;
  height: 35px;
  font-weight: 400;
}
.no-jobs-description {
  color: #7e858e;
  font-size: 13px;
}
